.simple-tooltip {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 9999;
  background: #000;
  border-radius: 2px;
  padding: 6px 0;
}
.simple-tooltip.transition {
  -webkit-transition: top 150ms ease-in-out, opacity 150ms ease-in-out;
  -moz-transition: top 150ms ease-in-out, opacity 150ms ease-in-out;
  transition: top 150ms ease-in-out, opacity 150ms ease-in-out;
}
.simple-tooltip .simple-tooltip-arrow {
  width: 13px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin: 0 0 0 -7px;
}
.simple-tooltip .simple-tooltip-content {
  padding: 4px 12px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  white-space: nowrap;
}
