$arrow-size:5px;
$color:black;
$transition-duration:150ms;

.simple-tooltip{
  display: none;
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 9999;
  display: none;
  background: $color;
  border-radius: 3px;
  -webkit-transition: top $transition-duration ease-in-out, left $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  -moz-transition: top $transition-duration ease-in-out, left $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  transition: top $transition-duration ease-in-out, left $transition-duration ease-in-out, opacity $transition-duration ease-in-out;

  .arrow {
    width: 0px;
    height: 0px;
    position: absolute;
    top:-10px;
    left:30%;
    &.up{
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
      border-bottom: $arrow-size solid $color;
    }
    &.down{
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
      border-top: $arrow-size solid $color;
    }
    &.left{
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid $color;
    }
    &.right{
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-left: $arrow-size solid $color;
    }
  }

  .content {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    white-space: nowrap;
  }

}
